.App {
  text-align: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.auth-card {
  width: 300px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 3px 3px 4px;
}